.contentRoot {
  margin: 80px auto 50px auto;
  width: 100%;
  min-height: 60dvh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;

  .content {
    width: 70%;
    position: relative;

    .line {
      width: 100%;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, #848484 0%, rgba(132, 132, 132, 0) 100%);
      border: 1px solid;
      border-image-source: linear-gradient(90deg, #848484 0%, rgba(132, 132, 132, 0) 100%);
    }

    .title {
      position: absolute;
      font-size: 20px;
      font-weight: 700;
      left: 44px;
      top: -30px;
      .count{
        margin: 0 0 0 10px;
        background-color: #247F66 ;
        padding: 0 5px;
        border-radius: 3px;
      }
    }
  }
}