.AccordionRoot {
  margin: 20px;

  .AccordionDetails {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    width: 95%;
    background-color: red;
    margin: 0 auto;
    height: fit-content;
  }

  .AccordionSelected {
    margin: 0 0 0 25px;
    padding: 0.5px 8px;
    background-color: #247F66;
    border-radius: 5px;
  }
}